.main {
  display: flex;
  flex-direction: column;
  grid-area: main;
  padding: clamp(5dvw, 2rem, 10dvw);
  width: 100%;
  height: fit-content;
  overflow: hidden;
  backdrop-filter: invert(80%) blur(50px);
  gap: 1rem;
}