.navHeader {
  position: sticky;
  top: 0;
  left: 0;
  transition: position 0.3s ease-in-out;
  display: grid;
  grid-area: header;
  background-color: var(--theme-color);
  color: var(--on-theme-color);
  font-size: 2.5rem;
  z-index: 10;
}

.headerWrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-family: var(--header-font);
}

.navWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;

  .navLogo {
    display: flex;
  }

  .navControls {
    display: flex;
  }
}