.hero {
  display: flex;
  flex-direction: column;
  background-color: var(--theme-color-transparent);
  color: var(--on-theme-color-transparent);
  padding: 10dvh 10dvw;
  backdrop-filter: invert(100%) blur(1000px);

  @media (min-width: 1200px) {
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid white;
    border-radius: 1rem;
  }

  .heroHeading {
    display: flex;
    flex-direction: column;
    font-family: var(--header-font);
    max-width: 100%;
    
  }

  .heroBody {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }

  .heroCTA {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    padding: var(--header-size-xs) var(--header-size-md);
    background-color: var(--theme-color);
    color: var(--on-theme-color);
    font-weight: bold;
    border-radius: var(--rounding-sm);
    filter: invert(0, 100%);
    backdrop-filter: invert(100%);

  }

  .heroImage {
    display: flex;
    flex-direction: column;
  }
}