:root {
  // 60/30/10 Colors
  // neutrals - 60
  //
  --background-color: hsl(293, 22%, 15%);
  --on-background-color: hsl(0, 0%, 100%);

  // accent - colors for elements on bg - 30
  --accent-color: hsl(35, 100%, 51%);
  --on-accent-color: hsl(0, 0%, 0%);

  // theme / cta - standout - 10
  --theme-color: hsl(14, 84%, 53%);
  --on-theme-color: hsl(0, 0%, 0%);
  font-size: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: none;
  background-color: none;
  border: none;
  font-size: 1rem;
  border-radius: none;
}

body {
  color-scheme: dark;
  background-color: var(--background-color);
  color: var(--on-background-color);
  font-family: var(--main-font);
  font-size: 1rem;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "main"
    "aside"
    "footer";

  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "header header"
      "main aside"
      "footer footer";

  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  font-family: var(--header-font);
}

button,
a,
li:has(a) {
  cursor: pointer;
}

header,
nav,
main,
aside,
footer,
section,
article {
  display: flex;
  flex-direction: column;
}