.mainNav {
  display: flex;
  position: absolute;
  top: 99%;
  background-color: var(--theme-color);
  flex-direction: column;
  align-items: center;
  width: 100%;
  clip-path: circle(0% at (top 0%)(right 5%));
  overflow: hidden;
  transition: clip-path 0.3s ease-out;

  &.open {
    clip-path: circle(150% at (top 0%) (right 5%));
  }

  >ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    text-align: center;

    >li {
      >.navLink {
        --link-color: pink;
        display: flex;
        flex-direction: row;
        padding: 5rem;
        color-scheme: dark;
      }
    }
  }
}