.navHeader {
  display: grid;
  grid-area: "header";
  background-color: var(--accent-color);
  color: var(--on-accent-color);
}

.navWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  .navLogo {
    display: flex;
  }

  .navControls {
    display: flex;
  }
}
